<div class="tracking-section d-flex flex-column text-white position-relative">
  <div class="position-relative z-1 container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        <p class="fs-4 mb-4 animate-on-scroll">
          Vous attendez un colis ? Suivez son parcours en temps réel !<br>
          Grâce à notre service de suivi, vous êtes toujours informé de l'état de votre livraison.
          Entrez simplement votre numéro de tracking sur la page dédiée.
        </p>

        <h1 class="fw-bold text-white display-4 animate-on-scroll">Suivi des colis simplifié</h1>

        <div class="d-flex justify-content-start mt-4 animate-on-scroll">
          <a href="https://suivi.ecotrack.dz/" target="_blank"
             class="btn btn-outline-light custom-btn transition-all">
            SUIVRE
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
