<app-header (onMenuClick)="onMenuClick($event)"></app-header>

<main>
 <app-welcome-page></app-welcome-page>
  <app-presentation id="presentation"></app-presentation>
  <app-why-us id="whyUs"></app-why-us>
  <app-services id="services"></app-services>
  <app-tracking id="tracking"></app-tracking>
  <section>
    <div class="position-relative bg-white py-5 px-4 px-sm-5 px-lg-5" style="padding-top:5rem;">
      <h1 class="text-center fw-bold mb-4 animate-slide-down" style="font-size: 2.5rem; color: #b0181b;">
      NOTRE COUVERTURE
      </h1>

      <p class="text-center text-secondary animate-slide-down" style="font-size:24px; padding-left: 40px; padding-right: 40px; margin-bottom:35px;">
        Nous assurons une présence dans 58 Wilayas à travers tout le territoire algérien, pour vous offrir une couverture complète et fiable.
      </p>
    </div>

  </section>

  <app-coverage id="coverage"></app-coverage>
  <app-offices id="offices"></app-offices>
  <app-general-condition id="conditions"></app-general-condition>
  <app-contact id="contact"></app-contact>

</main>

<app-footer id="footer"></app-footer>
