.hover-primary:hover {
  color: #b0181b!important;
  transition: color 0.2s ease;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(13, 110, 253, 0.1);
  color: #b0181b;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}
.accordion-body {
  background-color: #f8f9fa;
}
