<div class="container-fluid py-5" style="background-color: #f8f9fa;">
  <div class="container">
    <h1 class="fw-bold  mb-5 text-center" style="font-size: 2.5rem;color:#b0181b;">CONDITIONS GÉNÉRALES</h1>

    <div class="accordion" id="conditionsAccordion">
      <!-- Article 1 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 1 : Objet du contrat
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le présent contrat est une convention de prestation ayant pour objet de définir les modalités d'exécution et les conditions générales de collecte, livraison des envois, marchandises, courriers et colis à destination finale convenue, vers les centres et points de relais ou à domicile.
          </div>
        </div>
      </div>

      <!-- Article 2 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5" style="color:#b0181b;"></i> Article 2 : Durée du contrat
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le présent contrat est conclu pour une durée d'une (01) année renouvelable, à compter de la date de signature, par les deux parties le contrat est renouvelé pour la même période par tacite reconduction. Dans le cas où l'une des deux parties exprime sa volonté de ne pas le reconduire, une correspondance doit être notifiée à l'autre partie avant l'expiration du contrat.
          </div>
        </div>
      </div>

      <!-- Article 3 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 3 : Conditions d'admission des envois
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Tous les objets matériels à l'exception ceux classés dangereux par les conventions, lois ou règlement nationaux et internationaux en vigueur et notamment, les gaz les métiers inflammable, radioactives, toxiques, infectieuses ou corrosives, les bijoux, articles composés de pierre et métaux précieux, les monnaies, devises, billets de banque, les animaux, les marchandises sous température dirigée ou denrées périssable, les Ames à feu, matériels et document militaire, les publications ou supports audiovisuels interdits par toute lois ou réglementation applicables alcool, tabac, produits stupéfiants, des objets d'une énorme valeur artistique ou de collection, marchandise dangereuse, produit prohibé.
            Le contenu et la nature du colis doit être conforme à la description du CLIENT. Ainsi que le respect du poids et des volumes maximums acceptables de 30 Kg par colis.
          </div>
        </div>
      </div>

      <!-- Article 4 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 4 : Exécution de la prestation
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            La prestation de service inclus la livraison ou récupération d'un envoi express. Le CLIENT a pour obligation de préparer ses envois préalablement, accompagné d'un bordereau dument renseigné sur notre plateforme en ligne par ce dernier s'assurant d'avoir rempli soigneusement tous les champs (raison sociale, adresse, numéro de téléphone du CLIENT et du destinataire, description de l'envoi : cahier des charges, soumission, fragile etc. ...).

            Le CLIENT est responsable de l'emballage de l'expédition, en cas d'emballage non conforme, manque d'informations sur le bordereau, peut engendrer un retard de livraison ou le retour de l'envoi dans ce cas le PRESTATAIRE décline toute responsabilité.

            Les envois peuvent être effectués par collecte chez le CLIENT par les moyens du PRESTATAIRE, ou par dépôt au niveau des bureaux de ce dernier (en fonction du nombre d'envois remis quotidiennement et ce à la demande du CLIENT (du samedi au jeudi hors jours fériés) à l'heure convenue.

            Le CLIENT responsable de la nature de la marchandise, objet de l'expédition, et s'engage à ne pas expédier des produits dont le transport par route est réglementé, des produits sensibles ou dangereux, des produits interdits à la commercialisation ou de contrebande comme mentionnée dans l'article 03 Nord et ouest express est en droit de vérifié le contenu de l'envois si ça nécessite.

            Le CLIENT et son destinataire bénéficient d'un délai maximum de 10min d'attente par l'agent du PRESTATAIRE lors de la collecte ou la livraison de l'envoi, le transporteur NORD ET OUEST EXPRESS est tenu de se conformer au protocole de sécurité applicable et respecté les règles de sécurité. NORD ET OUEST s'engage à assurer pour chaque envoi trois (03) tentatives de livraison et ce pour toutes les villes distribuées. Durant les trois tentatives de livraisons, chaque tentative non concluante, le client sera avisé et notifié automatiquement afin d'intervenir pour résoudre le problème, dans le cas au le colis n'a pas était livré nord et ouest s'engage a gardé le colis au niveau des HUB 24 heures de suspendant pour que le client sauve son colis. Dans le cas contraire l'envoi fera l'objet d'un retour payant.

            Le montant du colis a récupéré par le prestataire ne doit pas dépasser 150 000 DA, peu importe les nombres des étiquettes envoyés pour le même destinateur par jour
            Si la marchande déclarée est supérieure à 100 000 DA, les frais de livraison seront doublés L'envoie ne doit pas dépasser 02 partie en cas des colis volumineux ou surfacions du poids (si la marchandise se compose de 04 article par exemple il est nécessaire de crée une seconde étiquette).
          </div>
        </div>
      </div>

      <!-- Article 5 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 5 : Procédure d'indemnisation
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            En cas de perte des colis ou fonds transportés, le PRESTATAIRE s'engage à rembourser la valeur de la marchandise selon la facture d'achat a une hauteur de 100 000 da
            Un colis est déclaré perdu après 60 jours d'investigation et de recherche et cela suite à une réclamation faite par le CLIENT formalisée par mail au service du PRESTATAIRE dans un délai de 30 jours a compté de la date d'expédition.
            Le délai de réclamation est de 60 jour, si la réclamation dépasse le délai indiquer nord est ouest décline toute responsabilité
            Le PRESTATAIRE indemnise son partenaire a une hauteur de 100 mille dinars peu importe le nombre des bordereaux, si le ledit colis ou plusieurs étaient destinés au même destinateur le même jour de la livraison.
            Au-delà de 100 000 DA et en cas de perte, vol ou endommagement Nord et Ouest Express indemnise son partenaire à une hauteur de 100 000 DA dinars peu importe la valeur initiale du produit. (Selon la Facture d'achat).
            Nord et ouest express n'est en aucun cas responsable de rembourser les colis saisis par les autorités algériennes et les colis endommagés en cas de force majeure, les colis fragiles, en verre, mal emballer et non emballer. Pour éviter la casse des produits déposée on vous prie de bien emballer vos produits et de prendre toutes les dispositions afin de garantir la sécurité et l'intégrité de vos colis.
          </div>
        </div>
      </div>

      <!-- Article 6 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 6 : Délais de livraison
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le PRESTATAIRE s'engage à respecter le planning de livraison préalablement défini selon le zoning sauf cas exceptionnel (grève, intempérie, force majeure ...). Le client est responsable de s'assurer qu'une commune est desservie selon la plateforme et le planning préalablement transmis par le prestataire avant de transmettre l'envoi à NORD ET OUEST EXPRESS.
          </div>
        </div>
      </div>

      <!-- Article 7 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 7 : Retour d'information
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le PRESTATAIRE s'engage à mettre à disposition du CLIENT une session professionnelle sur l'interface de gestion des flux expédiées ECO TRACK. Celle-ci lui permettra l'accès à la plateforme avec un ID et un mot de passe pour l'impression des bordereaux d'envois ainsi que le suivi de ces envois en temps réel et de recevoir des notifications automatiques sur les statuts des expéditions, pour l'ouverture d'un compte le client doit munir un registre de commerce, résidence et carte national ou carte d'artisan ou autre document justifiant l'activité de la vente en ligne sera requise pour l'utilisation des services du PRESTATAIRE.
          </div>
        </div>
      </div>

      <!-- Article 8 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 8 : Paiement à la livraison / COD et Recouvrement
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            NORD ET OUEST EXPRESS réserve la possibilité de récupération d'argent (paiement à la livraison COD)
            Le service commercial communiquera au CLIENT deux jour précis dans la semaine pour la récupération du paiement (PV de caisse) avec une décharge détaillée, le CLIENT doit se présenter avec le cachet de la boutique, la carte nationale ou une autre pièce similaire. En cas ou le gérant de la boutique ne sera pas disponible, il est obligatoire que le représentant fournisse les deux pièces d'identités (gérant et représentant)
          </div>
        </div>
      </div>

      <!-- Article 9 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 9 : Autorisation de l'expéditeur de l'ouverture de l'envoi avant la confirmation de livraison par le destinateur/Echange
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Dans le cas où l'expéditeur autorise le destinataire d'ouvrir le colis avant la confirmation de la livraison ou ne mentionne pas sur Le système « ne pas ouvrir », NORD ET OUEST décline toute responsabilité.
            En cas de manque, de détérioration de produit et de son emballage. Dans le cas d'un échange d'un ou plusieurs produits demandés par le destinataire et accepté par l'expéditeur NORD ET OUEST décline toute responsabilité en cas de manque, de détérioration de produit et de son emballage.
          </div>
        </div>
      </div>

      <!-- Article 10 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 10 : Délais de garde des colis non livré (Retour)
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le PRESTATAIRE s'engage à faire retour des envois non distribuables au CLIENT, avec décharge de restitution, dans un délai maximum de (30) jours.
            Le client a l'obligation de récupérer les colis retour non livrés et stockés chez NORD ET OUEST dans un délais maximum de 10 jours, dépassant ce délai, le PRESTATAIRE s'ouvre le droit de facturer le stockage 20 DA par colis par jour, dépassant le délai de 365 jours après la date de retour, NORD ET OUEST décline toute responsabilité et aucune réclamation n'est recevable après ce délai
          </div>
        </div>
      </div>

      <!-- Article 11 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingEleven">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 11 : Tarif de la Prestation
          </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Les tarifs applicables aux prestations, les frais de livraison, de retour effectué par NORD ET OUEST EXPRESS sont en HT selon la destination et le poids le plus élevé entre le poids réel et le poids volumétrique.
            NORD ET OUEST EXPRESS s'ouvre le droit de réviser les tarifs à n'importe quel moment en informant le client 30 jours avant leur application, le client déclare avoir lu et approuvé les tarifs applicables selon le nombre d'envois mensuel engagé et négocié avec le service commercial de NORD ET OUEST EXPRESS, en cas d'inadéquation entre le nombre engagé et le nombre réalisé durant la période d'observation de trois(03) mois consécutif, NORD ET OUEST EXPRESS s'ouvre le droit d'appliquer les tarifs selon le nombre d'envois réalisé. Les conditions générales de transport NORD ET OUEST se trouvent sur les bordereaux d'envois, sur les conventions et peuvent être changées par NORD TE OUEST EXPRESS à tout moment.
          </div>
        </div>
      </div>

      <!-- Article 12 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingTwelve">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 12 : Force majeure
          </button>
        </h2>
        <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Aucune des parties ne sera responsable et ne sera réputée avoir manqué à ses obligations, si ce manquement est dû à un événement de force majeure.
            Est considéré comme événement de force majeure, tout événement de caractère irrésistible, imprévisible et extérieur à la volonté d'une ou des parties, et notamment la guerre civile ou étrangère, l'émeute, l'incendie, les dégâts des eaux de toutes natures, les mouvements sociaux avec occupation des lieux, les décisions gouvernementales, réglementaires ou législatives ou tout autre restriction, catastrophes naturelles, l'interruption des voies de communication, la pénurie d'énergie, ou tout autre cause qui échapperait au contrôle de l'une des parties.
            En cas de résiliation en application des dispositions de l'alinéa précédent, chacune des parties renonce à tout recours envers l'autre, notamment en ce qui concerne les dommages et intérêts.
          </div>
        </div>
      </div>

      <!-- Article 13 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingThirteen">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 13 : Confidentialité et discrétion
          </button>
        </h2>
        <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le PRESTATAIRE considèrera comme strictement confidentiel, et s'interdit de divulguer toute information, document, données ou concept dont il pourra avoir connaissance à l'occasion du présent contrat. Le PRESTATAIRE s'engage par ailleurs à veiller à la plus grande discrétion concernant la relation avec les clients du partenaire et également veiller à ce que son personnel observe les basiques de respect, politesse et courtoisie envers les clients finaux. Les livreurs s'engagent à garder toute discrétion concernant les contenus et informations des colis qu'il a en charge de livrer.
          </div>
        </div>
      </div>

      <!-- Article 14 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingFourteen">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 14 : Résiliation
          </button>
        </h2>
        <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            En cas de manquement grave du client a ses obligations, NORD ET OUEST EXPRESS mettra en demeure le client par mail si le client ne répond pas dans un délai de 24 heures, Nord et Ouest suspendra (désactivé) le compte de client et il n'aura plus d'accès à la plateforme afin d'expédié ces colis sauf visibilité des mouvements des colis déjà expédié jusqu'à la récupération finale des paiements et retours de ces commandes
          </div>
        </div>
      </div>

      <!-- Article 15 -->
      <div class="accordion-item mb-3 border-0 shadow-sm">
        <h2 class="accordion-header" id="headingFifteen">
          <button class="accordion-button collapsed fs-4 py-3 text-dark hover-danger" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen" style="font-weight: 400;">
            <i class="bi bi-info-circle-fill text-danger me-3 fs-5"></i> Article 15 : Intégralité de l'accord -avenant-annexes
          </button>
        </h2>
        <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
             data-bs-parent="#conditionsAccordion">
          <div class="accordion-body py-3" style="font-size: 1.1rem; line-height: 1.6;">
            Le présent contrat et ses annexes constituent l'expression de plein et entier accord des Parties et constituent l'intégralité de la relation contractuelle entre les Parties, contrat ne pourra être modifié sans un avenant écrit, signé des deux parties. Les documents contractuels, sous réserve des avenants et modifications à venir, sont constitués par le présent contrat et ses annexes.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

