<div class="container-fluid py-5">
  <h2 class="text-center fw-bold mb-5 text-dark animate-on-scroll" style="font-size: 2rem;">
    VOS AVANTAGES EXPRESS
  </h2>
  <div class="row justify-content-center g-4">
    <!-- Card 1 -->
    <div class="col-md-4 animate-on-scroll">
      <div class="animated-card" style="background-image: url('assets/responsability.JPEG');">
        <div class="overlay">
          <h3 class="text-white">PROFESSIONNEL</h3>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 animate-on-scroll">
      <div class="animated-card" style="background-image: url('assets/security.JPEG');">
        <div class="overlay">
          <h3 class="text-white">SÉCURITÉ</h3>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 animate-on-scroll">
      <div class="animated-card" style="background-image: url('assets/ramassage.png');">
        <div class="overlay">
          <h3 class="text-white">PLUS RAPIDE</h3>
        </div>
      </div>
    </div>
  </div>
</div>
