<section class="contact-section position-relative text-dark">
  <div class="contact-overlay position-absolute w-100 h-100"></div>
  <div class="p-5 position-relative" style="z-index: 2;">
    <h1 class="text-center fw-bold mb-5" style="color: #b0181b;">LOCALISATION</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-start mb-4" style="margin-left:4rem;">
          <div class="icon-box bg-danger text-white me-3">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div>
            <h5 class="fw-bold" style="color: #002f56;">Adresse:</h5>
            <p class="mb-0">Relizane</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-4" style="margin-left:4rem;">
          <div class="icon-box bg-danger text-white me-3">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div>
            <h5 class="fw-bold" style="color: #002f56;">Email:</h5>
            <p class="mb-0">contact&#64;wasseli-dz.com</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-4" style="margin-left:4rem;">
          <div class="icon-box bg-danger text-white me-3">
            <i class="bi bi-headset"></i>
          </div>
          <div>
            <h5 class="fw-bold" style="color: #002f56;">Service client:</h5>
            <p class="mb-0">s.client&#64;wasseli-dz.com</p>
            <p class="mb-0 text-primary">
              0561 62 35 25 | 0561 62 35 32<br>
              0550 43 00 51 | 0770 54 73 72
            </p>
          </div>
        </div>
        <div class="d-flex align-items-start" style="margin-left:4rem;">
          <div class="icon-box bg-danger text-white me-3">
            <i class="bi bi-people-fill"></i>
          </div>
          <div>
            <h5 class="fw-bold" style="color: #002f56;">Service Commercial:</h5>
            <p class="mb-0">contact&#64;wasseli-dz.com</p>
            <p class="mb-0 text-primary">
              0550 43 09 50 | 0770 73 45 40<br>
              0561 66 00 38 | 0550 53 62 24<br>
              0770 77 38 04 | 0770 45 71 75
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="assets/point.png" alt="Localisation NOEST" class="img-fluid" style="max-height: 400px; object-fit: cover;">
      </div>
    </div>
  </div>
</section>
