<div class="relative presentation-section py-16 px-4 sm:px-6 lg:px-8" style="padding-top:5rem;">

  <h1 class="text-3xl font-extrabold mb-6 text-center fade-in-up" style="color:#b0181b; width: 100%; margin: 0 auto;">WASSELI DELIVERY,QUI SOMMES-NOUS ?</h1>

  <p class="text-center text-dark fade-in-up" style="font-size:20px;text-align: center;padding-left: 40px;
  padding-right: 40px; margin-bottom:35px; padding-top: 30px;">
    Basée à Relizane Algérie, Wasseli Delivery révolutionne la logistique en Algérie avec des services express
    adaptés à tous vos besoins. Livraison de plats, colis, objets précieux - nous transportons ce qui compte pour vous.
    Votre partenaire de confiance pour toutes vos livraisons à domicile
  </p>






</div>


